body {
    background-image: none !important;
    background-color: #ffffff !important;
}

.twitter-timeline-link {
    color: #66757f !important;
}

.twitter-atreply > b {
    color: #66757f !important;
}

.twitter-atreply > s {
    display: none !important;
}

.twitter-hashtag > b {
    color: #66757f !important;
}

.twitter-hashtag > s {
    display: none !important;
}


/* handle expand + view media links */
.expand-stream-item {
    color: #8899a6;
}

.details > .Icon:before {
    color: #8899a6;
}


/* nav bar */
.Icon--bird:before {
    display: none !important;;
}

.tweet-btn, .tweet-btn:focus {
    background: none repeat scroll 0 0 rgba(102, 117, 127, 0.8) !important;
}

/* The above works in greasemonkey but not Chrome. Add id to make selector more specific */
#global-new-tweet-button.tweet-btn, #global-new-tweet-button.tweet-btn:focus {
    background: none repeat scroll 0 0 rgba(102, 117, 127, 0.8) !important;
}


/* mute the blue around the "Compose new Tweet" / "Reply to" box */
.home-tweet-box, .dm-tweetbox, .WebToast-box--altColor, .content-main .conversations-enabled .expansion-container .inline-reply-tweetbox {
    background-color: #eeeeee !important;
}

.u-bgUserColorLightest {
    background-color: #eeeeee !important;
}

/* The above works in greasemonkey but not Chrome. Add another class to make selector more specific */
.u-bgUserColorLightest.home-tweet-box {
    background-color: #eeeeee !important;
}


/* hide the useless who-to-follow and trends boxes */
.wtf-module {
    display:none !important;
}

.trends {
    display:none !important;
}

/* hide monsanto ads */
.promoted-tweet {
    display: none;
}

/* put main content on left of the dashboard */
.dashboard {
    float: right !important;
}
.content-main {
    float: left !important;
}
